/*sezione Header*/

.heading {
    height: 200px;
    background-color: #4ea0ff;
    background-image: url('../img/pattern.png');
    position: relative;
}

#logo {
    height: 100px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

h1 {
    font-size: 70px;
    margin-bottom: 0px;
}

/*sezione nav*/
.creatore {
    color: #11a3e3;
}

nav {
    color: #777777;
    /*font-size: 40px;*/
}

#data {
    font-size: small;
}

/* sezione main*/

.contenitore {
    margin-bottom: 20px;
}
/*sezione immagini di testa*/
.fototesta {
    height: 550px;
}
/*sezione testo*/
.evidenzia {
    background-color: yellow;
}
/*Tabella*/
table{
    text-align: left;
}
th {
    width: 450px;
    color: white;
    background-color: #20a9e5;
}

#ultimacolonnatabella {
    width: 900px;
}

.tabrigacolorata {
    background-color: #b1e5f2;
}

/*footer*/
footer {
    font-weight: bold;
}
#titolofooter {
    color: #797979;
}
.imgfooter {
    height: 150px;
    width: 200px;
    background-size: contain;
    color: white;
}

#monitor {
    background-image: url('../img/monitor.jpg');
    margin-bottom: 10px;
}

#graph {
    background-image: url('../img/graph.jpg');
}